<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SoberSend</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSContactsUsageDescription</key>
	<string>SoberSend needs access to your contacts so you can select which contacts to set reminders for.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>SoberSend uses Face ID for the Emergency Unlock feature to verify your identity.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SoberSend needs the microphone to listen to you reading the tongue twister challenge.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>SoberSend requires Speech Recognition to analyze the tongue twister challenge and verify you are sober.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
